* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
}
.row, .col {
  display: flex;
  width: 100%;
}
.col {
  flex-direction: column;
}
nav {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-image: url("http://localhost:8080/Stock%20banner%20bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 10vh;
  
}
h1 {
  width: auto;
  margin-left: 2%;
  font-size: 2.1em;
  white-space: nowrap;
  color: white;
}
h2 {
  margin: auto;
  width: auto;
  font-size: .5em;
}
h3 {
  margin: 3% auto;
}
h4 {
  margin: 2% .5% 2% auto;
  font-size: 1.5em;
}
.ticker-name {
  font-weight: bold;
  font-size: 20pt;
}
main {
  height: 100%;
  width: auto;
  min-width: 60%;
  max-width: 80%;
  margin: 15vh auto auto auto;
  border: 1pt solid gray;
}
form {
  margin: 2% auto;
  padding: .5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.results-section {
  padding: .5% 2%; 
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
.news-Header{
  font-size: 1.5em;
}




.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /*float: left;*/
  display: none;
  min-width: 60px;
  width: 60px;
  padding: 4px 0 0 10px;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  /*margin: -1px;*/
  background-color: lightgray;
  padding-left: 0px !important;
}
.ui-autocomplete.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}
.ui-autocomplete > li {
  margin-left: 0px !important;
}
.ui-helper-hidden-accessible {
  display: none;
}
@media only screen and (max-width: 600px) {
  form.row {
    max-width: 378px;
  }
  main {
    min-width: 320px;
    width: auto;
  }
  .results-section {
    width: auto;
  }
  .ui-dialog-title{
    font-size: 10px;
    white-space: pre-wrap;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.3em;
  }
  .ui-dialog-title{
    font-size: 10px;
    white-space: pre-wrap;
  }
}

