* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', 'Raleway', sans-serif;
} 
html, body {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-width: 500px;
}
.row, .col {
  display: flex;
}
.col {
  flex-direction: column;
}
nav {
  top: 0;
  z-index: 999; 
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 7px rgba(0,0,0,.16);
  background-image: url(http://localhost:8080/Stock%20banner%20bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 7vh;
  min-height: 80px;
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
}
main {
  margin: 7vh auto 0 auto;
  border: 1pt solid gray;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#refresh-button {
  border: none;
  border-radius: 36px;
  height: 30px;
  width: 45px;
  margin-right: 5px; 
}
h1, h2 {
  margin: 0 5px;
}
h1 {
  color: white;
  /* need more here */
}
.submitBtn, .dataDuration, .tickerSearch {
  background-color: rgba(0, 97, 121, 0.438);
  color: rgb(78, 78, 78);
  text-decoration: none;
  border-radius: 12px;
  padding: 4px;
  height: 30px;
}
.submitBtn {
  border: none;
  box-shadow: 1px 3px 7px rgba(0,0,0,.16);
  margin: 4px 2px;
  cursor: pointer;
}
.dataDuration {
  border: 1px transparent grey;  
}
.tickerSearch {
  border: none;
}
form {
  margin-top: 20px;
  align-items: center;
  flex-wrap: nowrap;
}
/*
h2 {
  margin: auto;
  width: auto;
  font-size: .5em;
}
h3, h4 {
  font-size: 1.5vw !important;
  height: 16.66% !important;
  min-height: 30px;
  max-height: 150px;
  white-space: nowrap;
}
h3 {
  margin: 3% auto !important;
  text-align: left;
  padding: 0 15% 0 5%;
  margin: 0 100% 0 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
h4 {
  margin: 2% .5% 2% auto;
  font-size: 1.5em;
  text-align: right;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
h5 {
  white-space: nowrap;
  align-self: center;
}
form {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  height: 3.5vh;
}
.results-section {
  padding: 2%;
}
div[id^="ticker-"] { 
  width: auto;
  margin: 0 .5%;
  max-width: 33.33%; 
}
div[class^="ticker-"] {
  margin: 0 1%;
  color: black;
  background-color: white;
  box-shadow: 0 0 16px 0 rgb(185, 185, 185);
  border: 1px solid hsla( 0 , 0% , 100% , 0 );
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
a:link, a:visited {
  text-decoration: none;  
}
a:hover {
  text
}
a h3 {
  padding-left: .5% !important;
  font-size: .9em !important;
}
.tickerSearch {
  max-width: 100px;
  width: 100%;
  margin: 0 .5%;
}
button {
  margin: 0 1% 0 .5%;
  font-size: .8em;
} */ 




.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /*float: left;*/
  display: none;
  /* min-width: 60px;
  width: 60px;
  padding: 4px 0 0 10px;
  margin: 2px 0 0 0; */
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  /*margin: -1px;*/
  background-color: lightgray;
  padding-left: 0px !important;
}
.ui-autocomplete.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}
.ui-autocomplete > li {
  margin-left: 0px !important;
}
.ui-helper-hidden-accessible {
  display: none;
}
/* @media only screen and (max-width: 600px) {
  form.row {
    max-width: 378px;
  }
  main, nav {
    min-width: 320px;
    width: auto;
  }
  .results-section {
    width: auto;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.3em;
  }
  main {
    margin-top: 7.5vh;
  }
} */

